extends layout

block content
  .container
    h1.text-center.text-white Polaris
    h4.text-center.text-white A responsive, minimalist video library.
    hr
    .text-center.margin-top-40
      a.btn.btn-default.btn-lg.btn-white(href='/add', role='button') Get Started
      span.text-white.margin-left-10 by adding a video...
      
    
