body {
    background-color: #222222;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    border-radius: 0;
}

.margin-top-40 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.text-white {
    color: #ffffff;
}

.btn-white {
    background-color: rgba(255,255,255,0.2);
    color: #e8e8e8;
}

.btn-white:hover {
    background-color: rgba(255,255,255,0.2);
    border-color: #ffffff;
    color: #ffffff;
}

.margin-left-10 {
    margin-left: 10px;
}

.add-form, .message, .actor-form, .edit-form {
    background-color: rgba(255,255,255,0.2);
    border-radius: 6px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.edit-form {
    padding: 20px 20px 0 20px;
}

.actor-form {
    background-color: rgba(255,255,255,0.875);
}

.message {
    color: #ffffff;
    margin-top: 20px;
}

.message p {
    margin: 0;
}

.actor-form {
    color: #000000;
}

#byActorName {
    margin-left: 10px;
}

#videoList {
    margin-top: 20px;
}

#videoList th, #videoList td {
    border-color: #000000;
}

.table th {
    text-align: center;
}

.table td {
    text-align: left;
}

.alert {
    margin-bottom: 0;
}

/*---------- min-width 769 px ----------*/

@media screen and (min-width: 769px) {

    .add-form, .message {
        width: 50%;
    }
    
}
